.Contact h4 {
  margin: 0.5rem auto;
}

.Contact p {
  margin: 0.2rem auto;
  text-align: start;
}

.Contact ul {
  width: 80vw;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Contact .react-icons {
  color: blue;
  font-size: 3rem;
  margin: 0.7rem auto 0.5rem;
}

input[type="text"] {
  height: 4vh;
  width: 135%;
}

#textarea {
  width: 100%;
  resize: none;
}

.formMargin {
  margin: 0.5rem;
}

.Contact button {
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
  font-size: 1rem;
  background-color: rgb(119, 22, 145);
  color: white;
  border-radius: 3px;
  border: none;
}

.flexContact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  h4 {
    color: green;
  }

  .flexContact {
    flex-direction: row;
    justify-content: space-around;
  }

  .Contact p {
    line-height: 2rem;
  }

  .tabletFlex {
    align-self: start;
    width: 32vw;
  }

  .contactForm {
    align-items: center;
  }

  .Contact ul {
    width: 15rem;
    justify-content: space-between;
    margin: 1rem auto;
  }
  .Contact .react-icons {
    display: flex;
    color: green;
    font-size: 2.5rem;
    margin: 0 auto;
    justify-content: space-between;
  }

  input[type="text"],
  #textarea {
    width: 40vw;
    font-size: 1rem;
  }

  input[type="text"] {
    height: 4vh;
  }

  #textarea {
    resize: none;
    margin-top: 0.2rem;
  }

  .formMargin,
  .submitButton {
    margin: 0.5rem 1.5rem;
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
  h4 {
    color: blue;
  }

  .flexContact {
    flex-direction: row;
    justify-content: space-around;
  }

  .Contact p {
    line-height: 2rem;
  }

  .tabletFlex {
    align-self: start;
    width: 32vw;
  }

  .contactForm {
    align-items: center;
  }

  .Contact ul {
    width: 15rem;
    justify-content: space-between;
    margin: 1rem auto;
  }
  .Contact .react-icons {
    display: flex;
    color: green;
    font-size: 2.5rem;
    margin: 0 auto;
    justify-content: space-between;
  }

  input[type="text"],
  #textarea {
    width: 40vw;
    font-size: 1rem;
  }

  input[type="text"] {
    height: 4vh;
  }

  #textarea {
    resize: none;
    margin-top: 0.2rem;
  }

  .formMargin,
  .submitButton {
    margin: 0.5rem 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  h4 {
    color: pink;
  }

  .flexContact {
    flex-direction: row;
    justify-content: space-around;
  }

  .Contact p {
    line-height: 2rem;
  }

  .tabletFlex {
    align-self: start;
    width: 32vw;
  }

  .contactForm {
    align-items: center;
  }

  .Contact ul {
    width: 15rem;
    justify-content: space-between;
    margin: 1rem auto;
  }
  .Contact .react-icons {
    display: flex;
    color: green;
    font-size: 2.5rem;
    margin: 0 auto;
    justify-content: space-between;
  }

  input[type="text"],
  #textarea {
    width: 40vw;
    font-size: 1rem;
  }

  input[type="text"] {
    height: 4vh;
  }

  #textarea {
    resize: none;
    margin-top: 0.2rem;
  }

  .formMargin,
  .submitButton {
    margin: 0.5rem 1.5rem;
  }
}
