h1 {
  color: purple;
}

#myImg {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    color: green;
    margin-bottom: auto;
  }

  .hero {
    display: flex;
    flex-direction: row;
  }

  .details {
    align-self: center;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    color: blue;
  }
  .hero {
    display: flex;
    flex-direction: row;
  }

  .details {
    align-self: center;
  }
}
