* {
  box-sizing: border-box;
}

.container {
  padding: 10px;
  margin: 2rem;
}

ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  border-radius: 5px;
}

.react-icons {
  display: flex;
  vertical-align: middle;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    margin: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin: 6rem;
  }
}
